 groups:
  - name: DemoAlerts
    rules:
      - alert: InstanceDown
        expr: up{job="services"} < 1
        for: 5m
      - alert: HighTemperature
        expr: openweather_temperature{instance="openweather-maringa:9091", job="openweather", location="Maring치, PR"} > 40
        for: 5m
        annotations:
          summary: Temperatura muito alta em Maring치
      - alert: HighTemperature
        expr: openweather_temperature{instance="openweather-recife:9091", job="openweather", location="Recife, PE"} > 40
        for: 5m
        annotations:
          summary: Temperatura muito alta em Recife
      - alert: HighTemperature
        expr: openweather_temperature{instance="openweather-santiago:9091", job="openweather", location="Santiago, CL"} > 40
        for: 5m
        annotations:
          summary: Temperatura muito alta em Santiago
      - alert: HighTemperature
        expr: openweather_temperature{instance="openweather-maringa:9091", job="openweather", location="Maring치, PR"} < 5
        for: 5m
        annotations:
          summary: Temperatura muito alta em Maring치
      - alert: HighTemperature
        expr: openweather_temperature{instance="openweather-recife:9091", job="openweather", location="Recife, PE"} < 5
        for: 5m
        annotations:
          summary: Temperatura muito alta em Recife
      - alert: HighTemperature
        expr: openweather_temperature{instance="openweather-santiago:9091", job="openweather", location="Santiago, CL"} < 5
        for: 5m
        annotations:
          summary: Temperatura muito alta em Santiago